#preftoc li {
	display: inline-block;
}

#preftoc li a {
	padding: .25em .5em;
	color: #fff;
}

#preftoc li {
	margin: 2px;
	float: none;
	padding: 1px;
	position: relative;
	list-style-type: none;
	list-style-image: none;
	z-index: 3;
	border-radius: 3px;
	font-size: .85em;
	background: #142849;
	border: 0;
	color: #fff;
}

#preftoc li a:hover {
	color: #fff;
}

#preftoc > li.selected {
	background: #36c;
}

ul#preftoc {
	margin: auto;
	text-align: center;
}

#preftoc li.selected a {
	cursor: default;
	text-decoration: none;
}

#preferences table {
	min-width: 100%;
}

#preftoc {
	margin: 0;
	padding: 0;
	width: 100%;
	clear: both;
}

#preferences {
	margin: 0;
	clear: both;
	background-color: #fff;
	border: 0;
}

.prefsection {
	border: 0;
	padding: 0;
	margin: 0;
}

.prefsection legend {
	font-weight: 700;
}

.prefsection legend,
.prefsection table {
	background-color: #f9f9f9;
}

#preferences fieldset legend {
	font-weight: 700;
	padding: 0 .25em;
	margin: 0 .25em 0 1em;
	background: #fff;
}

td.htmlform-tip {
	font-size: .8em;
	padding: .2em 2em;
	color: #666;
	border: 1px solid #eeeffe;
	background: #eeeffe;
}

.preferences-login {
	clear: both;
	margin-bottom: 1.5em;
}

.prefcache {
	font-size: 90%;
	margin-top: 1em;
}